@page "/Braian"
@using Dent.Models
@using System.Globalization
@using System;
@using System.Collections.Generic;
@using System.Linq;
@inject Permisos Permiso
@inject AgregarPracticas AgregarPracticas
@inject EliminarPracticaMetod EliminarPracticaMethod

@* <div class="form-group">
    <label style="width: 100%;" >PACIENTE:</label>
    <select style="width: 100%;" @bind="IdPacienteAtendido">
        <option value="">Seleccionar</option>
        @foreach (var paciente in listaDePacientes)
        {
            <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
        }
    </select>
    <p> </p>
    <label style="width: 100%;">PRACTICA:</label>
    <select style="width: 100%;" @bind="PracticaSeleccionada">
        <option value="">Seleccionar</option>
        @foreach (var practicaseleccion in ListaDePracticas)
        {
            <option value="@practicaseleccion.Practica">@practicaseleccion.Practica</option>
        }
    </select>

    <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" @onclick="Agregar">Agregar </button>
    </div>
 *@
<!-- Divs -->@* 
<div style="height: 800px; overflow-y: auto;">
    <br />
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>FECHA</th>
                <th>PACIENTE</th>
                <th>PRACTICA</th>
                <th>OBRA SOCIAL</th>
                <th>PRECIO</th>
                <th>ODONTOLOGO</th>
                <th><button style="width: 100%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPracticaRealizada">AGREGAR</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>  <input @oninput="ActualizarFiltroOdontologo" placeholder="Buscar..." /></td>
                <td></td>
            </tr>
            @foreach (var practicaRealizada in ListaDePracticasRealizadas)
            {
                <tr class="table-success" @onclick="() => SeleccionarPracticaRealizada(practicaRealizada.Id)">
                    <td>@practicaRealizada.Fecha</td>
                    <td>@practicaRealizada.Paciente</td>
                    <td>@practicaRealizada.Practica</td>
                    <td>@practicaRealizada.ObraSocial</td>
                    <td>$@practicaRealizada.Precio</td>
                    <td>@practicaRealizada.Odontologo</td>
                    <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditPaciente">EDIT</button>
                    <button class="btn btn-danger" @onclick="() => EliminarPractica(practicaRealizada.Id)">X</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

 *@
    <!-- TABLA DE PRUEBA -->

<div style="height: 800px; overflow-y: auto;">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>FECHA</th>
                <th>PACIENTE</th>
                <th>PRACTICA</th>
                <th>OBRA SOCIAL</th>
                <th>PRECIO</th>
                <th>ODONTOLOGO</th>
                <th>
                    <button style="width: 100%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPracticaRealizada">AGREGAR</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td>
                    <select @onchange="MetodoPersonalizado2">
                        {
                        <option value=1>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(1)</option>

                        <option value=2>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(2)</option>

                        <option value=3>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(3)</option>

                        <option value=4>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(4)</option>

                        <option value=5>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(5)</option>

                        <option value=6>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(6)</option>

                        <option value=7>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(7)</option>

                        <option value=8>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(8)</option>

                        <option value=9>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(9)</option>

                        <option value=10>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(10)</option>

                        <option value=11>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(11)</option>

                        <option value=12>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(12)</option>
                        }
                    </select>

                    <select @bind="año">
                        @for (int i = 2023; i <= DateTime.Today.Year; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <select style="width: 100%;" @onchange="MetodoPersonalizado3">
                        <option value="">Seleccionar</option>
                        <option value=BRAIAN>BRAIAN</option>
                        <option value=CECI>CECI</option>
                        <option value=AGUS>AGUS</option>
                    </select>
                   


                  @*   <select style="width: 100%;" @onchange="MetodoPersonalizado3">
                        <option value="">Seleccionar</option>
                        @foreach (var a in ListaDePracticasRealizadas)
                        {
                            <option value="@a.Odontologo">@(a.Odontologo)</option>
                        }
                    </select> *@
                </td>
                <td></td>
            </tr>
            @foreach (var practicaRealizada in registrosFiltrados)
            {
                <tr class="table-success" @onclick="() => SeleccionarPracticaRealizada(practicaRealizada.Id)">
                    <td>@practicaRealizada.Fecha</td>
                    <td>@practicaRealizada.Paciente</td>
                    <td>@practicaRealizada.Practica</td>
                    <td>@practicaRealizada.ObraSocial</td>
                    <td>$@practicaRealizada.Precio</td>
                    <td>@practicaRealizada.Odontologo</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditPaciente">EDIT</button>
                        <button class="btn btn-danger" @onclick="() => EliminarPractica(practicaRealizada.Id)">X</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- TABLA DE PRUEBA -->
</div>

<div class="modal" style="display: @(mostrarModalEdit ? "block" : "none")">
    <div class="modal-content">
        <span class="btn btn-danger" @onclick="CerrarModalEdit">CERRAR</span>
        <h3>EDITAR</h3>
        <div class="form-group">
            <label style="width: 100%;">PACIENTE:</label>
            <select style="width: 100%;" @bind="IdPacienteAtendido">
                <option value="">Seleccionar</option>
                @foreach (var paciente in listaDePacientes)
                {
                    <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                }
            </select>
            <p> </p>
            <label style="width: 100%;">PRACTICA:</label>
            <select style="width: 100%;" @bind="PracticaSeleccionada">
                <option value="">Seleccionar</option>
                @foreach (var practicaseleccion in ListaDePracticas)
                {
                    <option value="@practicaseleccion.Practica">@practicaseleccion.Practica</option>
                }
            </select>
            <button style="width: 100%;" class="btn btn-warning" disabled="@(!CamposValidos)" @onclick="() => EditarPractica(IdEditar)">EDITAR</button>
        </div>
     </div>
</div>


<div class="modal fade" id="modaledit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">EDITAR PRACTICA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputText">Practica:</label>
                    <input style="width: 100%;" type="text" id="inputText" @bind="Practica" />
                </div>
                <div class="form-group">
                    <label for="inputText">Precio:</label>
                    <input style="width: 100%;" type="text" id="inputText" @bind="Precio" />
                </div>
            </div>
            <div class="modal-footer">
                <button style="width: 100%;" class="btn btn-warning" data-bs-dismiss="modal" disabled="@(!CamposValidos)" @onclick="() => EditarPractica(IdEdit)">Editar</button>
                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AGREGAR -->
<div class="modal fade" id="modalAgregarPracticaRealizada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">AGREGAR PRACTICA REALIZADA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
<div class="form-group">
                    <div class="form-group">
                        <label style="width: 100%;">PACIENTE:</label>
                        <select style="width: 100%;" @bind="IdPacienteAtendido">
                            <option value="">Seleccionar</option>
                            @foreach (var paciente in listaDePacientes)
                            {
                                <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                            }
                        </select>
                        <p> </p>
                        <label style="width: 100%;">PRACTICA:</label>
                        <select style="width: 100%;" @bind="IdPracticaSeleccionada">
                            <option value="">Seleccionar</option>
                            @foreach (var practicaseleccion in ListaDePracticas)
                            {
                                <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
                            }
                        </select>                                        
                    </div>
            </div>
            <div class="modal-footer">
                    <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" @onclick="Agregar">Agregar </button>
                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal EDITAR -->
<div class="modal fade" id="modalEditPaciente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">EDITAR PRACTICA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form-group">
                <label for="inputText">ID PRACTCA A EDITAR:</label>
                <input style="width: 100%;" type="text" id="inputText" @bind="IdEdit" />
            </div>
           <div class="modal-body">
              
                <div class="form-group">
                    <label style="width: 100%;">PACIENTE:</label>
                    <select style="width: 100%;" @bind="IdPacienteAtendido">
                        <option value="">Seleccionar</option>
                        @foreach (var paciente in listaDePacientes)
                        {
                            <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                        }
                    </select>
                    <p> </p>

                    <label style="width: 100%;" for="inputText">PRACTICA ACTUAL:</label>
                    <input style="width: 100%;" type="text" id="inputText" @bind="PracticaSeleccionada" readonly />
                    <p> </p>
                    <label style="width: 100%;">SELECCIONE QUE PRACTICA DESEA PONER:</label>
                    <select style="width: 100%;" @bind="PracticaSeleccionada">
                        <option value="">Seleccionar</option>
                        @foreach (var practicaseleccion in ListaDePracticas)
                        {
                            <option value="@practicaseleccion.Practica">@practicaseleccion.Practica</option>
                        }
                    </select>
                </div>

            </div>
            <div class="modal-footer">
             <button style="width: 100%;" class="btn btn-warning" data-bs-dismiss="modal" disabled="@(!CamposValidos)" @onclick="() => EditarPracticaRealizada(IdEdit)">EDIT</button>
             <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal" >X</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal EDITAR -->

<!-- Modal ELIMINAR -->
<div class="modal fade" id="modaleliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">ELIMINAR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>¿SEGURO DESEA ELIMINAR AL PACIENTE?</label>
                <p> </p>
                <div class="form-group">
                </div>
            </div>
            <div class="modal-footer">
                <button style="width: 100%;" class="btn btn-success" data-bs-dismiss="modal">SI</button>
                <p> </p>
                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>
<button style="width: 100%;" class="btn btn-warning" @onclick="() => CalcularTotal()">CALCULAR TOTAL</button>
<p> </p>
<label style="width: 100%;">TOTAL: $@MostrarTotal %50: $@MostrarTotalPorcentaje </label> 

@code {

    private bool CamposValidos => IdPacienteAtendido != 0 && IdPracticaSeleccionada != 0;
    private int IdEdit = 0;
    private bool mostrarModalEdit = false;
    private List<PracticasRealizada> ListaDePracticasRealizadas = new List<PracticasRealizada>();
    private List<Paciente> listaDePacientes = new List<Paciente>();
    private List<Practica1> ListaDePracticas = new List<Practica1>();
    private int currentDiv = 1;
    private int IdPacienteAtendido;
    private int IdPacienteEditar;
    private int IdOdontologo;
    private string ObraSocialPacienteAtendido = "no cargada";
    private string PracticaSeleccionada;
    private string OdontologoQueAtendio;
    private int IdPracticaSeleccionada;
    private DateTime FiltroFecha = DateTime.Today;
    private DateTime FiltroFechaFin = DateTime.Today;
    private int mes = DateTime.Today.Month;
    private int año = DateTime.Today.Year;
    private int mesSeleccionado = DateTime.Today.Month;
    private int añoSeleccionado = DateTime.Today.Year;
    private int meso = 0;

    private List<PracticasRealizada> registrosFiltrados = new List<PracticasRealizada>();
    private List<PracticasRealizada> elementosUnicos = new List<PracticasRealizada>();

    private void ShowDiv(int divNumber)
    {
        // Cambiar el número del div actual al hacer clic en el botón correspondiente
        currentDiv = divNumber;
    }
    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticasRealizadas = DbContext.PracticasRealizadas.ToList();
        listaDePacientes = DbContext.Pacientes.ToList();
        ListaDePracticas = DbContext.Practicas.ToList();
        registrosFiltrados = DbContext.PracticasRealizadas.ToList();
        elementosUnicos = DbContext.PracticasRealizadas.Distinct().ToList();

    }
    public string Practica = "";
    public string PacienteAtendido = "";
    public int Precio = 0;
    public int IdEditar = 0;
    public string miString = "";
    public int MostrarTotal = 0;
    public int MostrarTotalPorcentaje = 0;
    string odontologoFiltrado = " ";
    private string algo = "valor uno";


    public void MetodoPersonalizado3(ChangeEventArgs args)
    {
        var o = args.Value.ToString();
        odontologoFiltrado = o;
        CargarListaFiltrada();
    }

    public void CargarListaFiltrada()
    {
        registrosFiltrados = ListaDePracticasRealizadas.Where(p => p.Odontologo.Contains(odontologoFiltrado) && p.Fecha >= FiltroFecha && p.Fecha <= FiltroFechaFin
).ToList();
        ActualizaTablaPracticasRealizadas();
        
    }

    public void MetodoPersonalizado(ChangeEventArgs args)
    {

        var p = args.Value.ToString();
        var m = Convert.ToInt32(p);
        // Definir el rango de fechas
        DateTime fechaInicio = new DateTime(2024, m, 1);
        DateTime fechaFin = new DateTime(2024, (m+1), 1);
        meso = m;
        FiltroFecha = fechaInicio;
        // Filtrar la lista por fechas dentro del rango
        registrosFiltrados = ListaDePracticasRealizadas.Where(r => r.Fecha >= fechaInicio && r.Fecha <= fechaFin).ToList();
        ActualizaTablaPracticasRealizadas(); 
    }

    public void MetodoPersonalizado2(ChangeEventArgs args)
    {
        var p = args.Value.ToString();
        var m = Convert.ToInt32(p);
        // Definir el rango de fechas
        DateTime fechaInicio = new DateTime(2024, m, 1);
        DateTime fechaFin = new DateTime(2024, (m + 1), 1);
        meso = m;
        FiltroFecha = fechaInicio;
        FiltroFechaFin = fechaFin;
        // Filtrar la lista por fechas dentro del rango
        registrosFiltrados = ListaDePracticasRealizadas.Where(p => p.Odontologo.Contains(odontologoFiltrado) && p.Fecha >= fechaInicio && p.Fecha <= fechaFin
).ToList();
        ActualizaTablaPracticasRealizadas();
    }

    private void ActualizarFiltroOdontologo(ChangeEventArgs e)
    {
        algo = e.Value.ToString().ToUpper();
        odontologoFiltrado = algo;
        if (!string.IsNullOrEmpty(algo))
        {
            ListaDePracticasRealizadas = ListaDePracticasRealizadas.Where(e => e.Odontologo.Contains(algo)).ToList();
        }
        else
        {
            ActualizaTablaPracticasRealizadas();
        }


    }
    private void ActualizarFiltroFecha(ChangeEventArgs e)
    {

        odontologoFiltrado = algo;
        if (!string.IsNullOrEmpty(algo))
        {
            ListaDePracticasRealizadas = ListaDePracticasRealizadas.Where(e => e.Odontologo.Contains(algo)).ToList();
        }
        else
        {
            ActualizaTablaPracticasRealizadas();
        }


    }
    public void CalcularTotal()
    {

        var consultasFiltradas = ListaDePracticasRealizadas.Where(p => p.Odontologo.Contains(odontologoFiltrado) && p.Fecha >= FiltroFecha && p.Fecha <= FiltroFechaFin
    ).ToList();

        // Sumar los precios de las consultas filtradas
        int totalPrecio = consultasFiltradas.Sum(c => c.Precio);

        MostrarTotal = totalPrecio;
        MostrarTotalPorcentaje = MostrarTotal / 2;

    }

    public void ActualizaTablaPracticasRealizadas()
    {
        ListaDePracticasRealizadas = DbContext.PracticasRealizadas.ToList();
        StateHasChanged();

    }

    public void EditarPracticaRealizada(int paciente)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var a = DbContext.Pacientes.Find(IdPacienteAtendido);
            PacienteAtendido = a.Nombre + a.Apellido;
            ObraSocialPacienteAtendido = a.ObraSocial;
            IdPacienteEditar = a.Id;
        }

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var prueba = DbContext.PracticasRealizadas.Find(paciente);

            prueba.Paciente = PacienteAtendido;
            prueba.Practica = PracticaSeleccionada;
            prueba.Precio = Precio;
            prueba.ObraSocial = ObraSocialPacienteAtendido;
            prueba.Odontologo = "BRAIAN";
            prueba.IdPaciente = IdPacienteEditar;
            db.Update(prueba);
            db.SaveChanges();
        }



        ActualizaTablaPracticasRealizadas();
    }


    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }
    [Inject]
    private EliminarPracticaMetod Eliminarla { get; set; }

    private void SeleccionarPracticaRealizada(int seleccionado)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var prueba = DbContext.PracticasRealizadas.Find(seleccionado);
            IdEdit = prueba.Id;
            IdPacienteAtendido = prueba.IdPaciente;
            PracticaSeleccionada = prueba.Practica;
            PacienteAtendido = prueba.Paciente;
            ObraSocialPacienteAtendido = prueba.ObraSocial;
            Practica = prueba.Practica;
            OdontologoQueAtendio = prueba.Odontologo;
        }
    }
    private void EditarPracticaAbrir(int practicaId)
    {
        AbrirModalEdit();


        if (currentDiv == 1)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var practica = DbContext.PracticasRealizadas.Find(practicaId);
                PracticaSeleccionada = practica.Practica;
                PacienteAtendido = practica.Practica;
                IdPacienteEditar = practica.IdPaciente;
            }
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var paciente = DbContext.Pacientes.Find(IdPacienteEditar);
                IdPacienteAtendido = paciente.Id;
            }
        }
    }


    private List<Paciente> listaDeItems;
    private Paciente selectedItem;

    protected override async Task OnInitializedAsync()
    {

        listaDeItems = DbContext.Pacientes.ToList();

    }

    public void EditarPractica(int practicaId)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var practica = DbContext.PracticasRealizadas.Find(practicaId);
            practica.Paciente = PacienteAtendido;
            practica.Practica = PracticaSeleccionada;
            db.SaveChanges();
            ActualizaTabla();
        }
        CerrarModalEdit();

    }
    public void EliminarPractica(int practicaId)
    {
        //  Eliminarla.Eliminarla(practicaId);
        var practica = DbContext.PracticasRealizadas.Find(practicaId);
        if (practica != null)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                db.PracticasRealizadas.Remove(practica);
                db.SaveChanges();
            }
        }
        ActualizaTabla();

    }
    private void Agregar()
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var paciente = DbContext.Pacientes.Find(IdPacienteAtendido);
            PacienteAtendido = paciente.Nombre + paciente.Apellido;
            ObraSocialPacienteAtendido = paciente.ObraSocial;
            IdPacienteEditar = paciente.Id;
        }

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var p = DbContext.Practicas.Find(IdPracticaSeleccionada);
            PracticaSeleccionada = p.Practica;
            Precio = p.Precio;
        }
        var prueba = new PracticasRealizada();

        prueba.Paciente = PacienteAtendido;
        prueba.Practica = PracticaSeleccionada;
        prueba.ObraSocial = "pendiente";
        prueba.Precio = Precio;
        prueba.ObraSocial = ObraSocialPacienteAtendido;
        prueba.Odontologo = "BRAIAN";
        prueba.Fecha = DateTime.Now;
        prueba.IdPaciente = IdPacienteEditar;


        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.PracticasRealizadas.Add(prueba);
            db.SaveChanges();
        }         
        ActualizaTabla();
    }

    private void ActualizaTabla()
    {
        ListaDePracticasRealizadas = DbContext.PracticasRealizadas.ToList();
        StateHasChanged();

    }

    public void AbrirModalEdit()
    {
        mostrarModalEdit = true;
    }

    // Método para cerrar el modal
    public void CerrarModalEdit()
    {
        mostrarModalEdit = false;
    }
}