@page "/Practicas"
@using Dent.Models
@inject Permisos Permiso
@inject AgregarPracticas AgregarPracticas
@inject EliminarPracticaMetod EliminarPracticaMethod
@using Dent.Pages
<PageTitle>PRACTICAS</PageTitle>
@if (Permiso.Admin)
{
    <h1>MANEJO DE PRACTICAS</h1>
    <!-- Divs -->
    <div style="display: @(currentDiv == 1 ? "block" : "none")">
        <table class="table" id="tablepracticas">
            <thead>
                <tr class="table-dark">
                    <th>PRACTICA</th>
                    <th>PRECIO</th>
                    <th><button style="width: 100%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalagregar">AGREGAR</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var practica in ListaDePracticas)
                {
                    <tr class="table-success" @onclick="() => SeleccionarPractica(practica.Id)">
                        <td>@practica.Practica</td>
                        <td>$@practica.Precio</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modaledit">EDIT</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modaleliminar">X</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@* 
    <h1>PRACTICAS PARA ODONTOGRMA</h1>
    <!-- Divs -->
    <div style="display: @(currentDiv == 1 ? "block" : "none")">
        <table class="table" id="tablepracticas">
            <thead>
                <tr class="table-dark">
                    <th>PRACTICA</th>
                    <th>COLOR</th>
                    <th><button style="width: 100%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalagregarodontograma">AGREGAR</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var practica in ListaDePracticasOdontograma)
                {
                    <tr class="table-success" @onclick="() => SeleccionarPractica(practica.Id)">
                        <td>@practica.Practica</td>
                        <td>@practica.Color</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modaledit">EDIT</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modaleliminar">X</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 *@
    <!-- Modal AGREGAR -->

    <div class="modal fade" id="modalagregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">AGREGAR PRACTICA</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="width: 100%;">
                        <label for="inputText" style="width: 100%;">Practica:</label>
                        <input type="text" id="inputText" style="width: 100%;" @bind="Practica" />
                        <p> </p>
                        <label for="inputText" style="width: 100%;">Precio:</label>
                        <input type="text" id="inputText" style="width: 100%;" @bind="Precio" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" @onclick="Agregar">Agregar </button>
                    <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal EDITAR -->
    <div class="modal fade" id="modaledit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">EDITAR PRACTICA</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputText">Practica:</label>
                        <input style="width: 100%;" type="text" id="inputText" @bind="Practica" />
                    </div>
                    <div class="form-group">
                        <label for="inputText">Precio:</label>
                        <input style="width: 100%;" type="text" id="inputText" @bind="Precio" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%;" class="btn btn-warning" data-bs-dismiss="modal" disabled="@(!CamposValidos)" @onclick="() => EditarPractica(IdEdit)">Editar</button>
                    <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ELIMINAR -->
    <div class="modal fade" id="modaleliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">ELIMINAR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>¿SEGURO DESEA ELIMINAR LA PRACTICA?</label>
                    <p> </p>
                    <div class="form-group">
                        <label for="inputText">Practica:</label>
                        <input style="width: 100%;" type="text" id="inputText" @bind="Practica" readonly />
                        <p> </p>
                        <label for="inputText">Precio:</label>
                        <input style="width: 100%;" type="text" id="inputText" @bind="Precio" readonly />
                        <p> </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%;" class="btn btn-success" data-bs-dismiss="modal" disabled="@(!CamposValidos)" @onclick="() => EliminarPractica(IdEdit)">SI</button>
                    <p> </p>
                    <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" style="display: @(mostrarModalEdit ? "block" : "none")">
        <div class="modal-content">
            <span class="btn btn-danger" @onclick="CerrarModalEdit">CERRAR</span>
            <h3>EDITAR</h3>
            <div class="form-group">
                <label for="inputText">Id:</label>
                <input type="number" id="inputText" @bind="IdEdit" readonly />
            </div>
            <div class="form-group">
                <label for="inputText">Practica:</label>
                <input type="text" id="inputText" @bind="Practica" />
            </div>
            <div class="form-group">
                <label for="inputText">Precio:</label>
                <input type="text" id="inputText" @bind="Precio" />
                <button style="width: 100%;" class="btn btn-warning" disabled="@(!CamposValidos)" @onclick="() => EditarPractica(IdEdit)">Editar</button>
            </div>
        </div>
    </div>

    <!-- Modal AGREGAR PRACTIPA PARA ODONTROGRAMA -->

    <div class="modal fade" id="modalagregarodontograma" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">AGREGAR PRACTICA</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="width: 100%;">
                        <label for="inputText" style="width: 100%;">Practica:</label>
                        <input type="text" id="inputText" style="width: 100%;" @bind="Practica" />
                        <p> </p>
                        <select style="width: 100%;" @onchange="ElegirColor">
                            <option value="">Seleccionar</option>
                            <option value=BLUE style="background-color: blue;">AZUL</option>
                            <option value=RED style="background-color: red;">ROJO</option>
                            <option value=GREY style="background-color: grey;">GRIS</option>
                            <option value=YELLOW style="background-color: yellow;">AMARILLO</option>
                            <option value=DARKORANGE style="background-color: darkorange;">NARANJA</option>
                            <option value=GREEN style="background-color: green;">VERDE</option>
                            <option value=DARKVIOLET style="background-color: darkviolet;">VIOLETA</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos2)" @onclick="AgregarCategoriaOdontorgama">Agregar </button>
                    <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>No tienes permiso para ver los datos.</p>
}

@code {
    private bool CamposValidos2 => !string.IsNullOrEmpty(color) && !string.IsNullOrEmpty(Practica);
    private bool CamposValidos => Precio != 0 && !string.IsNullOrEmpty(Practica);
    private bool mostrarModalEdit = false;
    private List<Practica1> ListaDePracticas = new List<Practica1>();
    private List<PracticasApro> ListaDePracticasApross = new List<PracticasApro>();
    private List<Paciente> ListaDePacientes = new List<Paciente>();
    private List<PracticasOdontograma> ListaDePracticasOdontograma = new List<PracticasOdontograma>();
    private int currentDiv = 1;
    private string color = "";
    private void ShowDiv(int divNumber)
    {
        // Cambiar el número del div actual al hacer clic en el botón correspondiente
        currentDiv = divNumber;
    }
    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticas = DbContext.Practicas.ToList();
        ListaDePracticasApross = DbContext.PracticasApros.ToList();
        ListaDePracticasOdontograma = DbContext.PracticasOdontogramas.ToList();
    }
    public string Practica = "";
    public int Precio = 0;
    public int IdEdit = 0;
    public string miString = "";

    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }
    [Inject]
    private EliminarPracticaMetod Eliminarla { get; set; }
    private void ElegirColor(ChangeEventArgs args)
    {
        var col = args.Value.ToString();
        color = col;
}
    private void AgregarCategoriaOdontorgama()
    {
        var prueba = new PracticasOdontograma();
        prueba.Practica = Practica.ToUpper();
        prueba.Color = color;
        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.PracticasOdontogramas.Add(prueba);
            db.SaveChanges();
        }
    }

    private void EditarPracticaAbrir(int practicaId)
    {
        AbrirModalEdit();

        if (currentDiv == 1)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var practica = DbContext.Practicas.Find(practicaId);

                IdEdit = practica.Id;
                Practica = practica.Practica;
                Precio = practica.Precio;
            }
        }
        else if (currentDiv == 2)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var practica = DbContext.PracticasApros.Find(practicaId);

                IdEdit = practica.Id;
                Practica = practica.Practica;
                Precio = practica.Precio;
            }
        }
    }
    public void SeleccionarPractica(int practicaseleccionada)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var practica = DbContext.Practicas.Find(practicaseleccionada);

            IdEdit = practica.Id;
            Practica = practica.Practica;
            Precio = practica.Precio;
        }
    }

    public void EditarPractica(int practicaId)
    {

        if (currentDiv == 1)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var practica = DbContext.Practicas.Find(practicaId);
                if (practica != null)
                {
                    //Actualizar los campos necesarios
                    if (Practica == "")
                    { practica.Precio = Precio; }
                    else
                    {
                        practica.Practica = Practica;
                        practica.Precio = Precio;
                    }
                    db.Update(practica);
                    db.SaveChanges();
                }
            }
            CerrarModalEdit();

        }
        else if (currentDiv == 2)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {

                var practica = DbContext.PracticasApros.Find(practicaId);
                if (practica != null)
                {
                    //Actualizar los campos necesarios
                    if (Practica == "")
                    { practica.Precio = Precio; }
                    else
                    {
                        practica.Practica = Practica;
                        practica.Precio = Precio;
                    }


                    db.SaveChanges();
                }
            }
            CerrarModalEdit();
        }

        /////////////////////////////////////////////

    }
    public void EliminarPractica(int practicaId)
    {
      //  Eliminarla.Eliminarla(practicaId);
        var practica = DbContext.Practicas.Find(practicaId);
        if (practica != null)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                db.Practicas.Remove(practica);
                db.SaveChanges();
            }
        }

        ActualizaTabla();
            
    }
    private void Agregar()
    {
        AgregarPracticas.CargarPractica(Practica,Precio);
        // Al final del método donde realizas cambios y antes de volver a cargar los datos
        ActualizaTabla();
        miString = Practica;
        Practica = "";
        Precio = 0;

        //agregarPracticas.CargarPractica();
        Console.WriteLine($"Texto ingresado: {Practica} agregada");
    }
  
    private void ActualizaTabla()
    {
        ListaDePracticas = DbContext.Practicas.ToList();
        ListaDePracticasApross = DbContext.PracticasApros.ToList();
        StateHasChanged();

    }

    public void AbrirModalEdit()
    {
        mostrarModalEdit = true;
    }

    // Método para cerrar el modal
    public void CerrarModalEdit()
    {
        mostrarModalEdit = false;
    }
}