@page "/Turnos"
@using Dent.Models
@using System.Globalization
@using System;
@using System.Collections.Generic;
@using System.Linq;
@inject Permisos Permiso
@inject AgregarPracticas AgregarPracticas
@inject EliminarPracticaMetod EliminarPracticaMethod
@inject HttpClient httpClient
@using System.Net.Http.Json

<h3>Selecciona un día:</h3>
<input type="date" @onchange="HandleDateChange" />


@{
    List<string> horas = new List<string>();

    DateTime horaInicio = DateTime.Today.AddHours(8); // Hora de inicio: 8:00 AM
    DateTime horaFin = DateTime.Today.AddHours(21);   // Hora de fin: 9:00 PM

    while (horaInicio <= horaFin)
    {
        horas.Add(horaInicio.ToString("HH:mm")); // Agrega la hora formateada a la lista
        horaInicio = horaInicio.AddMinutes(30); // Incrementa 30 minutos
    }
}
  <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
  <thead>
            <tr class="table-dark">
                <th style="width: 130px;">HORARIOS</th>
      <th>DIA @(selectedDate.ToString("dd/MM"))</th>
                <th>PACIENTE</th>
                <th>ODONTOLOGO</th>
                <th>TRATAMIENTO</th>
                <th style="width: 200px;"></th>
    </tr>
  </thead>
  <tbody>
        @foreach (var hora in horas)
        {
            cargarFila(hora);
            @if (estado900 == "Disponible")
            {
                <tr class="table-info" @onclick="() => SeleccionarHora(hora)">
                    <td>@hora</td>
                    <td>@estado900</td>
                    <td>@nombrePaciente</td>
                    <td>@nombreOdontologo</td>
                    <td>@nombreTratamiento</td>
                    <td>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">NUEVO</button>
                        <button class="btn btn-secondary" @onclick="Agendar">&#128065</button>
                        <button class="btn btn-danger" @onclick="Agendar">X</button>
                    </td>
                </tr>

            }
            else
            {
                <tr class="table-danger" @onclick="() => SeleccionarHora(hora)">
                    <td>@hora</td>
                    <td>@estado900</td>
                    <td>@nombrePaciente</td>
                    <td>@nombreOdontologo</td>
                    <td>@nombreTratamiento</td>
                    <td>
                        <button class="btn btn-warning" @onclick="Agendar">EDIT</button>
                        <button class="btn btn-secondary" @onclick="Agendar">&#128065</button>
                        <button class="btn btn-danger" @onclick="Agendar">X</button>
                    </td>
                </tr>


            }

        }

    </tbody>
    </table>
<div style="display: @(currentDiv == 0 ? "block" : "none")">

<div class="form-group">
    <div class="form-group">
        <label style="width: 100%;">PACIENTE:</label>
        <select style="width: 100%;" @bind="IdPacienteAtendido">
            <option value="">Seleccionar</option>
            @foreach (var paciente in listaDePacientes)
            {
                <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
            }
        </select>
        <p> </p>
        <label style="width: 100%;">PRACTICA:</label>
        <select style="width: 100%;" @bind="IdPracticaSeleccionada">
            <option value="">Seleccionar</option>
            @foreach (var practicaseleccion in ListaDePracticas)
            {
                <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
            }
        </select>
        <div style="width: 100%;">
            <textarea rows="4" cols= style="width: 100%;" @bind="textoMultilinea"></textarea>
        </div>
    </div>
</div>
</div>
@if (horarios != null)
{
    <h3>Horarios para el día @(selectedDate.ToString("dd/MM/yyyy"))</h3>

    <title>Tabla de Horarios</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    th:first-child, td:first-child {
        text-align: left;
    }
</style>

    <!-- Modal AGENDAR -->
    <div class="modal fade" id="modalAgendarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">AGENDAR TURNO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label style="width: 100%;">ODONTOLOGO:</label>
                    <select style="width: 100%;" @bind="IdOdontologoSeleccionado">
                        <option value="">Seleccionar</option>
                        @foreach (var odontologo in ListaDeOdontologos)
                        {
                            <option value="@odontologo.Id">@(odontologo.Usuario)</option>
                        }
                    </select>
                    <div class="form-group">
                        <div class="form-group">
                            <label style="width: 100%;">PACIENTE:</label>
                            <select style="width: 100%;" @bind="IdPacienteAtendido">
                                <option value="">Seleccionar</option>
                                @foreach (var paciente in listaDePacientes)
                                {
                                    <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                                }
                            </select>
                            <p> </p>
                            <label style="width: 100%;">PRACTICA:</label>
                            <select style="width: 100%;" @bind="IdPracticaSeleccionada">
                                <option value="">Seleccionar</option>
                                @foreach (var practicaseleccion in ListaDePracticas)
                                {
                                    <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
                                }
                            </select>
                            <div style="width: 100%;">
                                <textarea rows="4" cols= style="width: 100%;" @bind="textoMultilinea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" data-bs-toggle="modal" data-bs-target="#elTurnoFueAgendado" data-bs-dismiss="modal" @onclick="Agendar">Agendar</button>
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="elTurnoFueAgendado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">TURNO AGENDADO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="modal-footer">
                         <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private string dia = "lunes";
    private bool CamposValidos => IdPacienteAtendido != 0 && IdPracticaSeleccionada != 0 && IdOdontologoSeleccionado != 0;
    private int IdEdit = 0;
    private bool mostrarModalEdit = false;
    private List<PracticasRealizada> ListaDePracticasRealizadas = new List<PracticasRealizada>();
    private List<Paciente> listaDePacientes = new List<Paciente>();
    private List<Practica1> ListaDePracticas = new List<Practica1>();
    private List<Login> ListaDeOdontologos = new List<Login>();
    private int currentDiv = 1;
    private int IdPacienteAtendido;
    private int IdPacienteEditar;
    private int IdOdontologoSeleccionado;
    private string ObraSocialPacienteAtendido = "no cargada";
    private string PracticaSeleccionada;
    private string OdontologoQueAtendio;
    private int IdPracticaSeleccionada;
    private DateTime FiltroFecha = DateTime.Today;
    private DateTime FiltroFechaFin = DateTime.Today;
    private int mes = DateTime.Today.Month;
    private int año = DateTime.Today.Year;
    private int mesSeleccionado = DateTime.Today.Month;
    private int añoSeleccionado = DateTime.Today.Year;
    private int meso = 0;
    private string textoMultilinea = "observacioes del paciente";
    public string Practica = "";
    public string PacienteAtendido = "";
    private string odontologoSeleccionado = "";
    public int Precio = 0;
    public int IdEditar = 0;
    public string miString = "";
    public int MostrarTotal = 0;
    public int MostrarTotalPorcentaje = 0;
    string odontologoFiltrado = " ";
    private string algo = "valor uno";
    private string nombrePaciente = "";
    TimeOnly hora900 = new TimeOnly(09, 00, 00);
    TimeOnly hora930 = new TimeOnly(09, 30, 00);
    TimeOnly hora1000 = new TimeOnly(10, 00, 00);
    TimeOnly hora1030 = new TimeOnly(10, 30, 00);
    TimeOnly hora1100 = new TimeOnly(11, 00, 00);
    TimeOnly hora1130 = new TimeOnly(11, 30, 00);
    TimeOnly hora1200 = new TimeOnly(12, 00, 00);
    TimeOnly hora1230 = new TimeOnly(12, 30, 00);
    TimeOnly hora1300 = new TimeOnly(13, 00, 00);
    TimeOnly hora1330 = new TimeOnly(13, 30, 00);
    TimeOnly hora1400 = new TimeOnly(14, 00, 00);
    TimeOnly hora1430 = new TimeOnly(14, 30, 00);
    TimeOnly hora1500 = new TimeOnly(15, 00, 00);
    TimeOnly hora1530 = new TimeOnly(15, 30, 00);
    TimeOnly hora1600 = new TimeOnly(16, 00, 00);
    TimeOnly hora1630 = new TimeOnly(16, 30, 00);
    TimeOnly hora1700 = new TimeOnly(17, 00, 00);
    TimeOnly hora1730 = new TimeOnly(17, 30, 00);
    TimeOnly hora1800 = new TimeOnly(18, 00, 00);
    TimeOnly hora1830 = new TimeOnly(18, 30, 00);
    TimeOnly hora1900 = new TimeOnly(19, 00, 00);
    TimeOnly hora1930 = new TimeOnly(19, 30, 00);
    TimeOnly hora2000 = new TimeOnly(20, 00, 00);
    TimeOnly hora2030 = new TimeOnly(20, 30, 00);
    TimeOnly hora2100 = new TimeOnly(21, 00, 00);
    TimeOnly hora2130 = new TimeOnly(21, 30, 00);
    TimeOnly hora2200 = new TimeOnly(22, 00, 00);
    private string estado900 = "Disponible";
    private string nombreOdontologo = "";
    private string nombreTratamiento = "";
    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticasRealizadas = DbContext.PracticasRealizadas.ToList();
        listaDePacientes = DbContext.Pacientes.ToList();
        ListaDePracticas = DbContext.Practicas.ToList();
        ListaDeOdontologos = DbContext.Logins.ToList();
        ListaDeTurnos = DbContext.Turnos.ToList();
        ListaDeOdontologos = ListaDeOdontologos.Where(p => p.Rol == "odon      ").ToList();

    }
    private List<PracticasRealizada> registrosFiltrados = new List<PracticasRealizada>();
    private List<PracticasRealizada> elementosUnicos = new List<PracticasRealizada>();
    private List<Turno> ListaDeTurnos = new List<Turno>();
    private List<Turno> TurnosFiltrados = new List<Turno>();
    private Turno elementoEncontrado;

    DateTime selectedDate { get; set; }
    TimeSpan Hora = new TimeSpan(20,30,00);
    List<DateTime> horarios { get; set; }


    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }
    [Inject]
    private EliminarPracticaMetod Eliminarla { get; set; }

    protected override async Task OnInitializedAsync()
    {
        selectedDate = DateTime.Today;
        await LoadHorarios();
    }
    TimeSpan HoraBuscada = new TimeSpan (09, 00, 00);
    private void HandleDateChange(ChangeEventArgs e)
    {
        // Aquí puedes hacer lo que necesites con el valor seleccionado
        if (DateTime.TryParse(e.Value.ToString(), out DateTime result))
        {
            selectedDate = result;
        }
        else
        {
            // Manejar el caso en que la conversión falle
            Console.WriteLine("No se pudo convertir el valor a DateTime.");
        }


        ActualizarTablaAlDia();
        StateHasChanged();


    }
    private void cargarFila(string horaRecibida)
    {
        if (TimeSpan.TryParse(horaRecibida, out TimeSpan horaConvertida))
        {
            // La conversión fue exitosa, hora contiene el valor convertido
        }
        else
        {
            // La cadena no representa un formato de hora válido
        }
        elementoEncontrado = TurnosFiltrados.FirstOrDefault(objeto => objeto.Hora == horaConvertida);
        if (elementoEncontrado != null)
        {
            estado900 = "Agendado";
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var paciente = DbContext.Pacientes.Find(elementoEncontrado.IdPaciente);
                nombrePaciente = paciente.Nombre;
            }
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var Odontologo = DbContext.Logins.Find(elementoEncontrado.IdOdontologo);
                nombreOdontologo = Odontologo.Usuario;
            }
            nombreTratamiento = elementoEncontrado.Practica;
        }
        else
        {
            estado900 = "Disponible";
            nombrePaciente = "";
            nombreOdontologo = "";
            nombreTratamiento = "";
        }
    }

    private void ActualizarTablaAlDia()
    {
        TurnosFiltrados = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate).ToList();

    }


    async Task LoadHorarios()
    {
        // Aquí realizas la lógica para obtener los horarios correspondientes al día seleccionado
        // Puedes hacer una solicitud HTTP, consultar una base de datos, etc.
        // Por simplicidad, supongamos que simplemente generamos horarios de ejemplo

        horarios = new List<DateTime>();
        DateTime horaInicio = DateTime.Today.AddHours(8); // Ejemplo: 8:00 AM
        DateTime horaFin = DateTime.Today.AddHours(21); // Ejemplo: 6:00 PM
        while (horaInicio < horaFin)
        {
            horarios.Add(horaInicio);
            horaInicio = horaInicio.AddMinutes(30); // Intervalo de 30 minutos
        }
    }
    private void SeleccionarHora(string horapasada)
    {
        TimeSpan.TryParse(horapasada, out TimeSpan horaConvertida);

            Hora = horaConvertida;
    }

    public void SeleccionarOdontologo(ChangeEventArgs args)
    {
        var odo = args.Value.ToString();
        odontologoSeleccionado = odo;
    }
    private void Agendar()
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var paciente = DbContext.Pacientes.Find(IdPacienteAtendido);
            PacienteAtendido = paciente.Nombre + paciente.Apellido;
            IdPacienteEditar = paciente.Id;
        }

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var p = DbContext.Practicas.Find(IdPracticaSeleccionada);
            PracticaSeleccionada = p.Practica;
        }
        var prueba = new Turno();

        prueba.Practica = PracticaSeleccionada;
        prueba.IdOdontologo = IdOdontologoSeleccionado;
        prueba.DiaMesAño = selectedDate;
        prueba.Hora = Hora;
        prueba.IdPaciente = IdPacienteEditar;
        prueba.Observaciones = textoMultilinea;

        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Turnos.Add(prueba);
            db.SaveChanges();
        }
    }

}

