@page "/Turnos"
@using Dent.Models
@using System.Globalization
@using System;
@using System.Collections.Generic;
@using System.Linq;
@inject Permisos Permiso
@inject AgregarPracticas AgregarPracticas
@inject EliminarPracticaMetod EliminarPracticaMethod
@inject HttpClient httpClient
@using System.Net.Http.Json
@if (Permiso.Logueado == 1)
{
<PageTitle>TURNOS</PageTitle>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

        th:first-child, td:first-child {
            text-align: left;
        }


        .calendar-button {
            text-align: center; /* Alineación horizontal del texto */
            width: 120px;
            height: 35px;
            font-weight: bold; /* Texto en negrita */
            vertical-align: center;
            border-radius: 15px;
            font-size: 16px; /* Tamaño del texto dentro del boton central en píxeles */
            background-color: #85C1E9;
            border: 2px solid black;
            padding: 3px;
            transition: border-color 0.3s ease;
            margin: 0 auto;
        }

            .calendar-button:hover {
                border-color: #21618C;
            }
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    input[type="date"] {
        background-color: #0080ff;
        padding: 15px;
        font-family: "Roboto Mono",monospace;
        color: #ffffff;
        font-size: 20px;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    ::-webkit-calendar-picker-indicator {
        background-color: #ffffff;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }
</style>
    <div class="colordefondoazul">
        <div class="centradoVertical">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            @if (MostrarBotones == "NO")
            { }
            else
            {
            <button class="flecha-button" @onclick="() => AtrasarDia()">🡄</button>
            @if (mostrarPagina == "SI")
            {<button class="dia-button">@nombreDia @(selectedDate.ToString("dd/MM"))</button>}
            @if (mostrarPagina == "NO")
            {
                <button class="dia-button" @onclick="() => DiaActual()">HOY</button>
            }
            <button class="flecha-button" @onclick="() => AdelantarDia()">🡆</button>
            }
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" @onchange="HandleDateChange" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            @if (MostrarBotones == "NO")
            { }
            else
            {
            <button class="dia-button" @onclick="() => OcultarSemana()">@semana</button>
            }
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;

            <select class="select-odont" @onchange="CambiarIdOdontologoSeleccionado">
                <option value=1234567890>ODONTOLOGO</option>
                @foreach (var odontologo in ListaDeOdontologos)
                {
                    <option value="@odontologo.Id">@(odontologo.Usuario)</option>
                }
            </select>
    </div>
    </div>
    List<string> horas = new List<string>();

    DateTime horaInicio = DateTime.Today.AddHours(8); // Hora de inicio: 8:00 AM
    DateTime horaFin = DateTime.Today.AddHours(21);   // Hora de fin: 9:00 PM

    while (horaInicio <= horaFin)
    {
        horas.Add(horaInicio.ToString("HH:mm")); // Agrega la hora formateada a la lista
        horaInicio = horaInicio.AddMinutes(30); // Incrementa 30 minutos
    }

    @if (mostrarPagina == "SI")
    {


        <!-- SEGUNDA TABLA -->
        @if (semana == "OCULTAR SEMANA")
        {
        <div class="row divaltofijo">
            <div class="col">
                <!--aqui va la primera tabla-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 30px;">HORA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                    cargarFila(hora);
                                    <tr class="table-primary" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>@horareal.ToString("hh\\:mm")</td>
                                    </tr>
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate)">
                                    <td>@hora</td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
                <div class="col">
                    <!--aqui va la segunda tabla del div-->
                    <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                        <thead>
                            <tr class="table-dark">
                                <th style="width: 80px; background-color: #F4D03F; color:black">@nombreDia0  @(selectedDate0.ToString("dd/MM"))</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var hora in horas)
                            {
                                @foreach (var turno in TurnosFiltrados0)
                                {
                                    TimeSpan horareal = TimeSpan.Parse(hora);
                                    @if (horareal == turno.Hora)
                                    {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                            cargarFila(hora);
                                            <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                                </td>
                                            </tr>
                                        }
                                        condicionCumplida = true;
                                        break;

                                    }

                                }

                                @if (condicionCumplida == false)
                                {
                                    <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate0)">
                                        <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                        </td>
                                    </tr>
                                }
                                condicionCumplida = false;
                            }
                        </tbody>
                    </table>
                </div>
            <div class="col">
                <!--aqui va la tercera tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia1  @(selectedDate1.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados1)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>
                                        
                                        }
                                        else
                                        {
                                        cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                    
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate1)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!--aqui va la cuarta tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia2  @(selectedDate2.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados2)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                    cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate2)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!--aqui va la quinta tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia3  @(selectedDate3.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados3)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                    cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate3)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!--aqui va la sexta tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia4  @(selectedDate4.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados4)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                    cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate4)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!--aqui va la septima tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia5  @(selectedDate5.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados5)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                    cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate5)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!--aqui va la octava tabla del div-->
                <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
                    <thead>
                        <tr class="table-dark">
                            <th style="width: 80px;">@nombreDia6  @(selectedDate6.ToString("dd/MM"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hora in horas)
                        {
                            @foreach (var turno in TurnosFiltrados6)
                            {
                                TimeSpan horareal = TimeSpan.Parse(hora);
                                @if (horareal == turno.Hora)
                                {
                                        @if (turno.IdPaciente == 0)
                                        {
                                            <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                                <td>
                                                    BLOQUEADO <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                    cargarFila(hora);
                                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                        <td>
                                            AGENDADO <button class="eliminar-button" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button> <button class="observaciones-button" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                                        </td>
                                    </tr>
                                    }
                                    condicionCumplida = true;
                                    break;
                                }

                            }

                            @if (condicionCumplida == false)
                            {
                                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate6)">
                                    <td>
                                            @hora LIBRE <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">+</button> <button class="mas-button" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                                    </td>
                                </tr>
                            }
                            condicionCumplida = false;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }
        <!-- FIN SEGUNDA TABLA -->
        @if (semana == "MOSTRAR SEMANA")
        {
        <div class="divaltofijo">
  <table class="table table-sm table align-middle table-success table-hover table-bordered border-primary ">
  <thead>
            <tr class="table-dark">
                <th style="width: 30px;">HORA</th>
                    <th style="width: 80px;">DIA @(selectedDate.ToString("dd/MM"))</th>
            <th style="width: 250px;">PACIENTE</th>
            <th style="width: 100px;">ODONTOLOGO</th>
            <th style="width: 250px;">TRATAMIENTO</th>
                <th style="width: 200px;"></th>
    </tr>
  </thead>
  <tbody>
        @foreach (var hora in horas)
        {
            @foreach (var turno in TurnosFiltrados)
            {
                TimeSpan horareal = TimeSpan.Parse(hora);
                @if (horareal == turno.Hora)
                {
                    if (turno.IdOdontologo == IdOdontologoSeleccionado)
                                    @if (turno.IdPaciente == 0)
                                    {
                                        <tr class="table-warning" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                                            <td>@hora</td>
                                            <td>BLOQUEADO</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDesbloquearTurno">&#x1F511</button>
                                            </td>                                           
                                        </tr>

                                    }
                                    else
                                    {
                    cargarFila(hora);
                    <tr class="table-danger" @onclick="() => SeleccionarTurno(hora, turno.Id)">
                        <td>@horareal.ToString("hh\\:mm")</td>
                    <td>"AGENDADO"</td>
                    <td>@nombrePaciente
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalInfoPaciente">&#128065</button>
                    </td>
                    <td>@nombreOdontologo</td>
                    <td>@turno.Practica</td>
                    <td>
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditarTurno">EDIT</button>
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalObservaciones">&#128065</button>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalBorrarTurno">X</button>
                    </td>
                </tr>
                }
                    condicionCumplida = true;
                    break;
                }

            }

            @if (condicionCumplida == false)
            {
                <tr class="table-primary" @onclick="() => SeleccionarHora(hora, IdTurno, selectedDate)">
                    <td>@hora</td>
                    <td>DISPONIBLE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgendarTurno">AGENDAR</button>
                                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalBloquearTurno">&#x1F513</button>
                    </td>
                </tr>
            }
            condicionCumplida = false;
        }
    </tbody>
    </table>
        </div>
        }
<div style="display: @(currentDiv == 0 ? "block" : "none")">

<div class="form-group">
    <div class="form-group">
        <label style="width: 100%;">PACIENTE:</label>
        <select style="width: 100%;" @bind="IdPacienteAtendido">
            <option value="">Seleccionar</option>
            @foreach (var paciente in listaDePacientes)
            {
                <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
            }
        </select>
        <p> </p>
        <label style="width: 100%;">PRACTICA:</label>
        <select style="width: 100%;" @bind="IdPracticaSeleccionada">
            <option value="">Seleccionar</option>
            @foreach (var practicaseleccion in ListaDePracticas)
            {
                <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
            }
        </select>
        <div style="width: 100%;">
            <textarea rows="4" cols= style="width: 100%;" @bind="textoMultilinea"></textarea>
        </div>
    </div>
</div>
</div>
@if (horarios != null)
{
    <!-- Modal AGENDAR -->
    <div class="modal fade" id="modalAgendarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">AGENDAR TURNO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                            <label style="width: 100%;">ODONTOLOGO: @nombreOdontologo </label>
                        <div class="form-group">
                        <div class="form-group">
                            <label style="width: 100%;">PACIENTE:</label>
                            <select style="width: 100%;" @bind="IdPacienteAtendido">
                                <option value="">Seleccionar</option>
                                @foreach (var paciente in listaDePacientes)
                                {
                                    <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                                }
                            </select>
                            <p> </p>
                            <label style="width: 100%;">PRACTICA:</label>
                            <select style="width: 100%;" @bind="IdPracticaSeleccionada">
                                <option value="">Seleccionar</option>
                                @foreach (var practicaseleccion in ListaDePracticas)
                                {
                                    <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
                                }
                            </select>
                            <div style="width: 100%;">
                                <textarea rows="4" cols= style="width: 100%;" @bind="textoMultilinea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" data-bs-toggle="modal" data-bs-target="#elTurnoFueAgendado" data-bs-dismiss="modal" @onclick="Agendar">Agendar</button>
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="elTurnoFueAgendado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">TURNO AGENDADO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="modal-footer">
                         <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Modal BLOQUEAR -->
            <div class="modal fade" id="modalBloquearTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">BLOQUEAR TURNO</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>
                                ¿SEGURO DESEA BLOQUEAR EL TURNO?
                            </label>
                            <p> </p>
                            <p>DIA: @selectedDate.ToString("dd/MM")</p>
                            <p>HORA: @Hora.ToString("hh\\:mm") </p>
                            <div class="modal-footer">
                                <button style="width: 100%;" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" @onclick="Bloquear">BLOQUEAR</button>
                                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="elTurnoFueAgendado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">TURNO AGENDADO</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="modal-footer">
                                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal DESBLOQUEAR -->
            <div class="modal fade" id="modalDesbloquearTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">DESBLOQUEAR TURNO</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>
                                ¿SEGURO DESEA DESBLOQUEAR EL TURNO?
                            </label>
                            <p> </p>
                            <p>DIA: @selectedDate.ToString("dd/MM")</p>
                            <p>HORA: @Hora.ToString("hh\\:mm") </p>
                            <div class="modal-footer">
                                <button style="width: 100%;" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" @onclick="() => Borrar(IdEdit)">DESBLOQUEAR</button>
                                <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Modal BORRAR -->
    <div class="modal fade" id="modalBorrarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">ELIMINAR TURNO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>¿SEGURO DESEA ELIMINAR EL TURNO?
                    </label>
                    <p> </p>
                    <p>PACIENTE: @PacienteAtendido </p>
                    <p>DIA: @selectedDate.ToString("dd/MM")</p>
                    <p>HORA: @Hora.ToString("hh\\:mm") </p>
                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" @onclick="() => Borrar(IdEdit)">ELIMINAR</button>
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal OBSERVACIONES -->
    <div class="modal fade" id="modalObservaciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">OBSERVACIONES</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <p>PACIENTE: @PacienteAtendido</p>
                        <p>ODONTOLOGO: @nombreOdontologo</p>
                        <p>TRATAMIENTO: @NombrePracticaSeleccionada</p>
                    <p>
                        @Observaciones
                    </p>
                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal EDITAR -->
    <div class="modal fade" id="modalEditarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">EDITAR TURNO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label style="width: 100%;">ODONTOLOGO:</label>
                    <select style="width: 100%;" @bind="IdOdontologoSeleccionado">
                        <option value="">Seleccionar</option>
                        @foreach (var odontologo in ListaDeOdontologos)
                        {
                            <option value="@odontologo.Id">@(odontologo.Usuario)</option>
                        }
                    </select>
                    <div class="form-group">
                        <div class="form-group">
                            <label style="width: 100%;">PACIENTE:</label>
                            <select style="width: 100%;" @bind="IdPacienteAtendido">
                                <option value="">Seleccionar</option>
                                @foreach (var paciente in listaDePacientes)
                                {
                                    <option value="@paciente.Id">@($"{paciente.Apellido} {paciente.Nombre}")</option>
                                }
                            </select>
                            <p> </p>
                            <label style="width: 100%;">PRACTICA:</label>
                            <select style="width: 100%;" @bind="IdPracticaSeleccionada">
                                <option value="">Seleccionar</option>
                                @foreach (var practicaseleccion in ListaDePracticas)
                                {
                                    <option value="@practicaseleccion.Id">@practicaseleccion.Practica</option>
                                }
                            </select>
                            <div style="width: 100%;">
                                <textarea rows="4" cols= style="width: 100%;" @bind="textoMultilinea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-success" disabled="@(!CamposValidos)" data-bs-toggle="modal" data-bs-target="#elTurnoFueAgendado" data-bs-dismiss="modal" @onclick="() => Editar(IdEdit)">EDITAR</button>
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="elTurnoFueAgendado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">TURNO AGENDADO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="modal-footer">
                        <button style="width: 100%;" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                    </div>
                </div>
            </div>
        </div>
 </div>
 }
 else
 {}

}
}
else
{
    <p>No tienes permiso para ver los datos.</p>
}
@code {
    private bool condicionCumplida = false;
    private string dia = "lunes";
    private string mostrarPagina = "NO";
    private bool CamposValidos => IdPacienteAtendido != 0 && IdPracticaSeleccionada != 0 && IdOdontologoSeleccionado != 0;
    private int IdEdit = 0;
    private bool mostrarModalEdit = false;
    private List<PracticasRealizada> ListaDePracticasRealizadas = new List<PracticasRealizada>();
    private List<Paciente> listaDePacientes = new List<Paciente>();
    private List<Practica1> ListaDePracticas = new List<Practica1>();
    private List<Login> ListaDeOdontologos = new List<Login>();
    private int currentDiv = 1;
    private int IdPacienteAtendido;
    private int IdPacienteEditar;
    private int IdOdontologoSeleccionado = 1234567890;
    private string ObraSocialPacienteAtendido = "no cargada";
    private string PracticaSeleccionada;
    private string OdontologoQueAtendio;
    private int IdPracticaSeleccionada;
    private DateTime FiltroFecha = DateTime.Today;
    private DateTime FiltroFechaFin = DateTime.Today;
    private int meso = 0;
    private string textoMultilinea = "Observaciones sobre la Consulta";
    public string Practica = "";
    public string PacienteAtendido = "";
    private string odontologoSeleccionado = "";
    public int Precio = 0;
    public int IdEditar = 0;
    public string miString = "";
    public int MostrarTotal = 0;
    public int MostrarTotalPorcentaje = 0;
    string odontologoFiltrado = " ";
    private string algo = "valor uno";
    private string nombrePaciente = "";
    private string estado = "Disponible";
    private string nombreOdontologo = "";
    private string nombreTratamiento = "";
    private int IdTurno = 12;
    private int? IdPaciente = 0;
    private string Observaciones = "";
    private string NombrePracticaSeleccionada = "";
    private string semana = "MOSTRAR SEMANA";
    private string odontologoSeleccionadoNombre = "";
    private string MostrarBotones = "NO";
    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticasRealizadas = DbContext.PracticasRealizadas.ToList();
        listaDePacientes = DbContext.Pacientes.ToList();
        ListaDePracticas = DbContext.Practicas.ToList();
        ListaDeOdontologos = DbContext.Logins.ToList();
        ListaDeTurnos = DbContext.Turnos.ToList();
        ListaDeOdontologos = ListaDeOdontologos.Where(p => p.Rol == "odon      ").ToList();
    }
    private List<PracticasRealizada> registrosFiltrados = new List<PracticasRealizada>();
    private List<PracticasRealizada> elementosUnicos = new List<PracticasRealizada>();
    private List<Turno> ListaDeTurnos = new List<Turno>();
    private List<Turno> TurnosFiltrados = new List<Turno>();
    private List<Turno> TurnosFiltrados0 = new List<Turno>();
    private List<Turno> TurnosFiltrados1 = new List<Turno>();
    private List<Turno> TurnosFiltrados2 = new List<Turno>();
    private List<Turno> TurnosFiltrados3 = new List<Turno>();
    private List<Turno> TurnosFiltrados4 = new List<Turno>();
    private List<Turno> TurnosFiltrados5 = new List<Turno>();
    private List<Turno> TurnosFiltrados6 = new List<Turno>();
    private Turno elementoEncontrado;
    private string nombreDia = "HOY";
    private string nombreDia0 = "";
    private string nombreDia1 = "";
    private string nombreDia2 = "";
    private string nombreDia3 = "";
    private string nombreDia4 = "";
    private string nombreDia5 = "";
    private string nombreDia6 = "";
    private string nombreDia7 = "";
    DateTime selectedDate7 { get; set; }
    DateTime selectedDate6 { get; set; }
    DateTime selectedDate5 { get; set; }
    DateTime selectedDate4 { get; set; }
    DateTime selectedDate3 { get; set; }
    DateTime selectedDate2 { get; set; }
    DateTime selectedDate1 { get; set; }
    DateTime selectedDate0 { get; set; }
    DateTime selectedDate { get; set; }
    DateTime diaSeleccionado { get; set; }
    TimeSpan Hora = new TimeSpan(20,30,00);
    List<DateTime> horarios { get; set; }

    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }
    [Inject]
    private EliminarPracticaMetod Eliminarla { get; set; }


    protected override async Task OnInitializedAsync()
    {
        selectedDate = DateTime.Today;
        await LoadHorarios();
    }
    TimeSpan HoraBuscada = new TimeSpan (09, 00, 00);
    private void HandleDateChange(ChangeEventArgs e)
    {
        mostrarPagina = "SI";
        // Aquí puedes hacer lo que necesites con el valor seleccionado
        if (DateTime.TryParse(e.Value.ToString(), out DateTime result))
        {
            selectedDate = result;
            nombreDia = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            nombreDia0 = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper(); ;
            selectedDate0 = selectedDate;
            selectedDate1 = selectedDate.AddDays(1);
            nombreDia1 = selectedDate1.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate2 = selectedDate.AddDays(2);
            nombreDia2 = selectedDate2.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate3 = selectedDate.AddDays(3);
            nombreDia3 = selectedDate3.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate4 = selectedDate.AddDays(4);
            nombreDia4 = selectedDate4.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate5 = selectedDate.AddDays(5);
            nombreDia5 = selectedDate5.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate6 = selectedDate.AddDays(6);
            nombreDia6 = selectedDate6.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
            selectedDate7 = selectedDate.AddDays(7);
            nombreDia7 = selectedDate7.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();

        }
        else
        {
            // Manejar el caso en que la conversión falle
            Console.WriteLine("No se pudo convertir el valor a DateTime.");
        }
        ActualizarTablaAlDia();
        StateHasChanged();
    }

    private void DiaActual()
    {
        mostrarPagina = "SI";
        selectedDate = DateTime.Today;
        nombreDia = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        nombreDia0 = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper(); ;
        selectedDate0 = selectedDate;
        selectedDate1 = selectedDate.AddDays(1);
        nombreDia1 = selectedDate1.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate2 = selectedDate.AddDays(2);
        nombreDia2 = selectedDate2.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate3 = selectedDate.AddDays(3);
        nombreDia3 = selectedDate3.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate4 = selectedDate.AddDays(4);
        nombreDia4 = selectedDate4.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate5 = selectedDate.AddDays(5);
        nombreDia5 = selectedDate5.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate6 = selectedDate.AddDays(6);
        nombreDia6 = selectedDate6.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate7 = selectedDate.AddDays(7);
        nombreDia7 = selectedDate7.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        ActualizarTablaAlDia();
        StateHasChanged();
    }

    private void AdelantarDia()
    {
        selectedDate = selectedDate.AddDays(1);
        nombreDia = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        nombreDia0 = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper(); ;
        selectedDate0 = selectedDate;
        selectedDate1 = selectedDate.AddDays(1);
        nombreDia1 = selectedDate1.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate2 = selectedDate.AddDays(2);
        nombreDia2 = selectedDate2.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate3 = selectedDate.AddDays(3);
        nombreDia3 = selectedDate3.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate4 = selectedDate.AddDays(4);
        nombreDia4 = selectedDate4.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate5 = selectedDate.AddDays(5);
        nombreDia5 = selectedDate5.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate6 = selectedDate.AddDays(6);
        nombreDia6 = selectedDate6.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate7 = selectedDate.AddDays(7);
        nombreDia7 = selectedDate7.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        ActualizarTablaAlDia();
        StateHasChanged();
    }

    private void AtrasarDia()
    {
        selectedDate = selectedDate.AddDays(-1);
        nombreDia = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        nombreDia0 = selectedDate.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper(); ;
        selectedDate0 = selectedDate;
        selectedDate1 = selectedDate.AddDays(1);
        nombreDia1 = selectedDate1.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate2 = selectedDate.AddDays(2);
        nombreDia2 = selectedDate2.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate3 = selectedDate.AddDays(3);
        nombreDia3 = selectedDate3.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate4 = selectedDate.AddDays(4);
        nombreDia4 = selectedDate4.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate5 = selectedDate.AddDays(5);
        nombreDia5 = selectedDate5.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate6 = selectedDate.AddDays(6);
        nombreDia6 = selectedDate6.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        selectedDate7 = selectedDate.AddDays(7);
        nombreDia7 = selectedDate7.ToString("dddd", new System.Globalization.CultureInfo("es-ES")).ToUpper();
        ActualizarTablaAlDia();
        StateHasChanged();
    }


    private void OcultarSemana()
    {
        if (semana == "OCULTAR SEMANA")
        {
            semana = "MOSTRAR SEMANA";
        }
        else
        {
            semana = "OCULTAR SEMANA";
        }
    }


    private void cargarFila(string horaRecibida)
    {
        if (TimeSpan.TryParse(horaRecibida, out TimeSpan horaConvertida))
        {
            // La conversión fue exitosa, hora contiene el valor convertido
        }
        else
        {
            // La cadena no representa un formato de hora válido
        }
        elementoEncontrado = TurnosFiltrados.FirstOrDefault(objeto => objeto.Hora == horaConvertida);
        if (elementoEncontrado != null)
        {
            if (elementoEncontrado.IdPaciente == 0)
            { estado = "BLOQUEADO"; }
            else
            {
                estado = "Agendado";
                using (DbDentistaContext db = new DbDentistaContext())
                {
                    var paciente = DbContext.Pacientes.Find(elementoEncontrado.IdPaciente);
                    nombrePaciente = paciente.Nombre + paciente.Apellido;
                }
                using (DbDentistaContext db = new DbDentistaContext())
                {
                    var Odontologo = DbContext.Logins.Find(elementoEncontrado.IdOdontologo);
                    nombreOdontologo = Odontologo.Usuario;
                }
                nombreTratamiento = elementoEncontrado.Practica;
                IdTurno = elementoEncontrado.Id;
            }
        }
        else
        {
            estado = "Disponible";
            nombrePaciente = "";
            nombreOdontologo = "";
            nombreTratamiento = "";
            IdTurno = 0;
        }
    }

    private void ActualizarTablaAlDia()
    {
        TurnosFiltrados = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate).ToList();
        TurnosFiltrados0 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate0).ToList();
        TurnosFiltrados1 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate1).ToList();
        TurnosFiltrados2 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate2).ToList();
        TurnosFiltrados3 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate3).ToList();
        TurnosFiltrados4 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate4).ToList();
        TurnosFiltrados5 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate5).ToList();
        TurnosFiltrados6 = ListaDeTurnos.Where(p => p.DiaMesAño == selectedDate6).ToList();
    }


    async Task LoadHorarios()
    {
        // Aquí realizas la lógica para obtener los horarios correspondientes al día seleccionado
        // Puedes hacer una solicitud HTTP, consultar una base de datos, etc.
        // Por simplicidad, supongamos que simplemente generamos horarios de ejemplo

        horarios = new List<DateTime>();
        DateTime horaInicio = DateTime.Today.AddHours(8); // Ejemplo: 8:00 AM
        DateTime horaFin = DateTime.Today.AddHours(21); // Ejemplo: 6:00 PM
        while (horaInicio < horaFin)
        {
            horarios.Add(horaInicio);
            horaInicio = horaInicio.AddMinutes(30); // Intervalo de 30 minutos
        }
    }
    private void SeleccionarHora(string horapasada, int idturno, DateTime diaPasado)
    {
        TimeSpan.TryParse(horapasada, out TimeSpan horaConvertida);
        IdTurno = idturno;
        Hora = horaConvertida;
        selectedDate = diaPasado;
    }
    private void CambiarIdOdontologoSeleccionado(ChangeEventArgs e)
    {
        odontologoSeleccionadoNombre = e.Value.ToString();
        if (odontologoSeleccionadoNombre == "1234567890")
        {
            MostrarBotones = "NO";
        }
        else { 
            MostrarBotones = "SI";
        IdOdontologoSeleccionado = Convert.ToInt32(odontologoSeleccionadoNombre);
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var Odontologo = DbContext.Logins.Find(IdOdontologoSeleccionado);
            nombreOdontologo = Odontologo.Usuario;
        }

        }
    }
    public void SeleccionarOdontologo(ChangeEventArgs args)
    {
        var odo = args.Value.ToString();
        odontologoSeleccionado = odo;
    }
    private void Agendar()
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var paciente = DbContext.Pacientes.Find(IdPacienteAtendido);
            PacienteAtendido = paciente.Nombre + paciente.Apellido;
            IdPacienteEditar = paciente.Id;
        }

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var p = DbContext.Practicas.Find(IdPracticaSeleccionada);
            PracticaSeleccionada = p.Practica;
        }
        var prueba = new Turno();

        prueba.Practica = PracticaSeleccionada;
        prueba.IdOdontologo = IdOdontologoSeleccionado;
        prueba.DiaMesAño = selectedDate;
        prueba.Hora = Hora;
        prueba.IdPaciente = IdPacienteEditar;
        prueba.Observaciones = textoMultilinea;

        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Turnos.Add(prueba);
            db.SaveChanges();
        }
        OnInitialized();
        ActualizarTablaAlDia();
        StateHasChanged();
    }

    private void Bloquear()
    {

        var prueba = new Turno();

        prueba.Practica = "";
        prueba.IdOdontologo = 0;
        prueba.DiaMesAño = selectedDate;
        prueba.Hora = Hora;
        prueba.IdPaciente = 0;
        prueba.Observaciones = textoMultilinea;

        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Turnos.Add(prueba);
            db.SaveChanges();
        }
        OnInitialized();
        ActualizarTablaAlDia();
        StateHasChanged();
    }

    private void SeleccionarTurno(string horapasada, int seleccionado)
    {

        TimeSpan.TryParse(horapasada, out TimeSpan horaConvertida);
        Hora = horaConvertida;

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var turno = DbContext.Turnos.Find(seleccionado);
            IdEdit = turno.Id;
            Observaciones = turno.Observaciones;
            NombrePracticaSeleccionada = turno.Practica;
            IdPracticaSeleccionada = 0;
            IdPacienteAtendido = turno.IdPaciente;
            IdOdontologoSeleccionado = turno.IdOdontologo;
            textoMultilinea = turno.Observaciones;
            selectedDate = turno.DiaMesAño;
            Hora = turno.Hora;

        }
        if (IdPacienteAtendido == 0)
        {
        }
        else
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                var paciente = DbContext.Pacientes.Find(IdPacienteAtendido);
                PacienteAtendido = paciente.Nombre + paciente.Apellido;
                IdPacienteEditar = paciente.Id;
            }

            using (DbDentistaContext db = new DbDentistaContext())
            {
                var odontologo = DbContext.Logins.Find(IdOdontologoSeleccionado);
                nombreOdontologo = odontologo.Usuario;
            }
        }
    }
    private void Editar(int idturno)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {
            var paciente = DbContext.Pacientes.Find(IdPacienteAtendido);
            PacienteAtendido = paciente.Nombre + paciente.Apellido;
            IdPacienteEditar = paciente.Id;
        }

        using (DbDentistaContext db = new DbDentistaContext())
        {
            var p = DbContext.Practicas.Find(IdPracticaSeleccionada);
            PracticaSeleccionada = p.Practica;
        }
        var turnoEditar = DbContext.Turnos.Find(idturno);
        if (turnoEditar != null)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                turnoEditar.Practica = PracticaSeleccionada;
                turnoEditar.IdOdontologo = IdOdontologoSeleccionado;
                turnoEditar.DiaMesAño = selectedDate;
                turnoEditar.Hora = Hora;
                turnoEditar.IdPaciente = IdPacienteEditar;
                turnoEditar.Observaciones = textoMultilinea;
                db.Update(turnoEditar);
                db.SaveChanges();

            }
        }
        OnInitialized();
        ActualizarTablaAlDia();
        StateHasChanged();

    }
    private void Borrar(int idturno)
    {

        //  Eliminarla.Eliminarla(practicaId);
        var turnoEliminar = DbContext.Turnos.Find(idturno);
        if (turnoEliminar != null)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                db.Turnos.Remove(turnoEliminar);
                db.SaveChanges();
            }
        }
        OnInitialized();
        ActualizarTablaAlDia();
        StateHasChanged();
    }
}

